@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-colour: #006572;
    --primary-colour-lighter: hsl(187, 100%, 25%);
    --secondary-colour: #f3b335;
    --light-grey-colour: #DFE0DF;
    --dark-grey-colour: hsl(120, 2%, 50%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100dvh;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.grid {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr 6fr;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

h1,
.username-and-handle {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

/* nav (sidebar) section */
.sidebar {
    background-color: var(--primary-colour);
    grid-column: 1;
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 10px;
}

.sidebar div {
    display: grid;
    gap: 15px 5px;
}

.sidebar a {
    display: grid;
    grid-template-columns: 30% 70%;
}

.sidebar a:hover {
    filter: brightness(90%);
}

.sidebar img {
    grid-column-start: 1;
    justify-self: center;
}

.sidebar p,
h1 {
    grid-column-start: 2;
    align-self: center;
    font-weight: bold;
    color: white;
}

/* header section */
header {
    grid-column: 2;
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: 1fr 2fr;
    padding: 20px 50px;
    gap: 20px;
}

header .top {
    display: flex;
    gap: 20px;
}

header .top .left {
    display: flex;
    align-items: center;
    gap: 15px;
    flex: 5;
}

#search-bar {
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: var(--light-grey-colour);
    padding: 5px 15px;
    width: 70%;
    font-family: inherit;
}

header .top .right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 25px;
    font-weight: bold;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.user-info .avatar {
    width: 1.2vw;
}

.avatar {
    border-radius: 100%;
}

header .bottom {
    grid-row-start: 2;
    display: flex;
    align-items: center;
}

.greeting {
    flex: 4;
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: bold;
}

.greeting .text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.action-buttons {
    flex: 1;
    display: flex;
    gap: 25px;
    justify-content: flex-end;
}

button {
    background-color: var(--primary-colour);
    color: white;
    border: none;
    outline: none;
    padding: 10px 0;
    border-radius: 20px;
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    width: 150px;
}

button:hover {
    background-color: var(--primary-colour-lighter);
}


/* main section */
main {
    background-color: var(--light-grey-colour);
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 4.5fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    padding: 50px;
    gap: 20px;
}

.card {
    background-color: white;
    border-radius: 15px;
    box-shadow: 4px 4px 6px -1px rgb(186, 186, 186);
}

.announcements {
    grid-column-start: 2;
}

.announcements .card {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    padding: 20px 25px;
}

.announcement-item {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.announcement-item:not(:last-child) {
    border-bottom: 1px solid var(--light-grey-colour);
    padding-bottom: 15px;
}

.announcement-item>.title {
    font-weight: bold;
}

.announcement-item>.text {
    color: var(--dark-grey-colour);
}

.trending {
    grid-column-start: 2;
    align-self: end;
}

.trending .card {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

.trending-user.avatar {
    width: 2.2vw;
    align-self: center;
}

.trending-users-details {
    align-self: center;
    display: flex;
    flex-direction: column;
}

.trending-project-name {
    color: var(--dark-grey-colour);
}

.projects {
    grid-row: 1 / -1;
}

.projects>.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

.project-item {
    padding: 30px;
}