@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-colour: #00CDF3;
    --secondary-colour: #FFD247;
    --light-grey-colour: #DFE0DF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100dvh;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.grid-container {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr 8fr;
}

/* nav (sidebar) section */
.sidebar {
    background-color: var(--primary-colour);
    grid-column: 1;
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 10px 15px;
}

.sidebar div {
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 5px;
}

.sidebar div p,
h1 {
    align-self: center;
}

.sidebar div figure {
    justify-self: center;
}

/* header section */
header {
    grid-column: 2;
    grid-row: 1 / 2;
    display: grid;
}

/* main section */
main {
    background-color: var(--light-grey-colour);
    grid-column: 2;
    grid-row: 2;
}